.terms {
  display: flex;
  gap: .75rem;
  position: relative;
  align-items: center;
  padding-block: .25rem;

  & input {
      all: unset;
      position: absolute;
      inset: 0;
      z-index: 10;
  }

  span {
    width: 1.25rem;
    height: 1.25rem;
    background: url(../../assets/icons/checkbox-default.svg) no-repeat center/cover;
  }

  p {
    font: var(--b-sm);
    font-weight: 400;
    color: var(--text-body);

    strong {
      font-weight: 600;
      color: var(--brand-light);
    }
  }

  &:has(input:checked) span {
    background: url(../../assets/icons/checkbox-valid.svg) no-repeat center/cover;
  }
}

.mg-top-40 {
  margin-top: 2.5rem;
}

.gap-4 {
  gap: .25rem;
}