textarea{
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
  height: 8.5rem;
  padding: 1rem;
  outline: none;
  resize: none;
  color: white;

  &:focus {
      border-color: var(--brand-light);
    }

  &::placeholder {
      color: var(--input-placeholder);
      font: var(--b-md);
      font-weight: 400;
    }
}