.theme-event {
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
  padding-inline: 1px;

  & .select{
    background-color: var(--shape-button);
    border: solid 2px transparent;
    outline: 1px solid var(--input-stroke);
    border-radius: .5rem;
    padding: .25rem .25rem .5rem .25rem ;
    display: grid;
    justify-items: center;
    gap: .5rem;

    position: relative;

    &:hover {
        background-color: var(--shape-hover);
      }

    &:has(input:focus),
      &:has(input:checked) {
        border-color: var(--brand-light);
        border-width: .125rem;
      }


    & input {
      all: unset;
      position: absolute;
      inset: 0;

    }

    & img {
      object-fit: cover;
      height: 4rem;
      border-radius: .25rem;
    }

    & span {
      font: var(--b-sm);
      font-weight: 400;
      color: var(--text-heading);
    }
  }
}