.visual-settings{

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;


  & .flex {
    display: flex;
    gap: .75rem;
    height: 3rem;
    align-items: center;

    & .select{
      width: 4rem;
      height: 2rem;
      background-color: var(--input-base);
      border: 1px solid var(--input-stroke);
      border-radius: 999px;
      position: relative;

      &:has(input:checked){

        background-color: var(--brand-light);

        & span {
          transform: translate(130%, -50%);
          background: var(--text-heading);
        }
      }

      & input {
        all: unset;
        position: absolute;
        inset: 0;
      }

      & span {
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--input-stroke);
        position: absolute;
        border-radius: 100%;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
      }
      
    }

    .text {
      font: var(--b-sm);
      font-weight: 400;
      color: var(--text-heading);
    }

    .text-pl {
      font: var(--b-sm);
      font-weight: 400;
      color: var(--input-placeholder);
    }
  }

  & .upload {
    padding: .25rem .75rem;
    background-color: var(--shape-button);
    border-radius: .5rem;
    position: relative;
    display: flex;
    align-items: center;
    height: 2.5rem;
    gap: .5rem;

    & input {
      opacity: 0;
      position: absolute;
      inset: 0;
     
    }

    & img {
      width: 1rem;
      height: 1rem;
      object-fit: cover;
    }

    & span {
      font: var(--b-sm);
      color: var(--text-heading);
    }
  }
}   