* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;


  --danger: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;
  

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  --font-Leckerli: "Leckerli One", sans-serif;
  --font-baloo: "Baloo 2", sans-serif;
  --font-open: "Open Sans", sans-serif;

  --logo: 500 2.5rem var(--font-Leckerli);

  --h-md: 700 1.75rem var(--font-baloo);
  --h-sm: 700 1.125rem var(--font-baloo);

  --b-md: 600 1rem var(--font-open);
  --b-sm: 600 .875rem var(--font-open);
  --b-xs: 600 .75rem var(--font-open);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.mg-top {
  margin-top: 1rem;
}

.grid {
  display: grid;
}

.grid-2-columns {
  grid-template-columns: repeat(2, 1fr);
}

.grid-auto-column{
  grid-auto-flow: column;
}

.gap-16 {
  gap: 1rem;
}

.brand-light {
  background-color: var(--brand-light);
}

.brand-mid {
  background-color: var(--brand-mid);
}

.purple {
  background-color: var(--purple);
}

.fushia {
  background-color: var(--fuschia);
}

.danger {
  background-color: var(--danger);
}

.pink {
  background-color: var(--pink);
}

.orange {
  background-color: var(--orange);
}

.yellow {
  background-color: var(--yellow);
}

.lime {
  background-color: var(--lime);
}

.green {
  background-color: var(--green);
}

.cyan {
  background-color: var(--cyan);
}